*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Main styles -- Reusable */

.line{
  width: 90%;
  height: 2px;
  background-color: #cf6107;
  margin: 0;  
  margin: 30px 0;
}

body{
  /*
  background-image: linear-gradient(to top right,rgba(132,215,167,0.7),rgba(255,238,134,0.7),rgba(255,148,146,0.7)), url('public/images/fusion_logo.colour-removebg-preview.png');
*/
  
  background-image: linear-gradient(to top right,rgba(132,215,167,0.7),rgba(255,238,134,0.7),rgba(255,148,146,0.7)), url('public/images/fusion_logo.colour-removebg-reduced-wide.png'); 
  

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 2px solid black;


}


/* Navbar styles */



.logo img{
  max-height: 120px;
  padding: 20px 10px;
}

.logoMain img{
  max-height: 240px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
    font-weight: 300;
  }

  .burger{
    display: none;
  }

  .burger-line-1{
    width: 30px;
    height: 4px;
    margin: 3px 0;
    margin-right: 50px;
  }


  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu li a {
    opacity: 0.9;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 30;
  }

  
  /* Submenu styles */
  .sub-menu {
    display: none;
  }
  
  .submenu:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #333;
    margin-top: -1px;
  }
  
  .sub-menu li {
    float: none;
  }
  
  .sub-menu li a {
    padding: 12px 16px;
    color: white;
  }

  .submenu:checked .sub-menu {
    display: block;
    position: absolute;
    background-color: #333;
    margin-top: -1px;
  }
  
  .sub-menu li a:hover {
    color: #cf6107;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 800px) {
    .menu {
      
      display: block;
    }

    .burger{
      display: block;
    }
  
    .menu li.submenu {
      display: block;
    }
  
    .menu li.submenu .sub-menu {
      position: static;
      background-color: transparent;
    }
  
    .menu li.submenu:hover .sub-menu {
      display: none;
    }
  
    .menu li a {
      text-align: center;
      color: black;
      font-weight: 400;
      font-size: 2rem;
    }
  }

  .menu-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
  }










  /* Main Container */


  

  .container{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

  }

  .main{
    display: flex;
    align-items: center;
    width: 60%;
  }

  .main p{
    line-height: 1.6rem;
    font-weight: 200;
    text-align: center;
    margin: auto;
  }

  /* Splash Section */

  .splash{
    color: black;
    display: flex;
    flex-direction: row;
    /* height: 68%; */
    padding: 40px 0;
  }

  .splash-left{
    flex:1;
    display: flex;
    justify-content: right;
    margin-right: 100px;
  }

  .splash-left img{
    max-width: 90%;
    border: 2px solid white;

  }

  .splash-right{
    flex:2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    /* background-color: #ececec65; */
  }



  .splash-right-content{
    width: 70%;
  }

  .splash-right-content h2{
    font-size: 2.8rem;
    margin-bottom: 30px;
  }

  .splash-right-content p{
    font-size: 1.4rem;
  }


  .splash-right-content button{
    width: 160px;
    height: 40px;
    border: 2px solid black;
    border-radius: 14px;
    background-color: orange;
    margin: 60px 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .splash-right-content button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }

  /* About  */

  .about-container{
    width: 60%;
    margin: 0 auto;
    background-color: rgba(44, 44, 44, 0.938);
    /* height: 100vh; */
  
  }

  .about-content{
    width: 60%;
    margin: auto;
    text-align: center;
    /* height: 100%; */

  }

  .about-content p{
    line-height: 1.6rem;
    color: white;
  }

  .about-content h4{
    font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Satisfy', cursive;
    padding: 20px;
    color: white;
  }

  .about-buttons{
    padding: 40px 0;
    
  }

  .about-button{
    width: 160px;
    height: 40px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: transparent;
    margin: 20px 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
  }

  .about-button:hover{
    background-color: orange;
    cursor: pointer;
    color: black;
  }











/* Packages */

.packages-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  background-color: rgba(44, 44, 44, 0.938);
  color: white;
} 

.packages-container h4, .packages-container h2{
  font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Satisfy', cursive;
    padding: 0 20px;
    color: white;
}

.package-odd{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.package-odd .package-left{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.package-odd .package-left p, .package-odd .package-left ul li{
  font-family: sans-serif;
  font-size: 1.2rem;
}

.package-odd .package-right img{
  max-height: 360px;
}

.package-odd .package-price{
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Satisfy', cursive;
    padding: 0 20px;
    color: white;
}

.package-even{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.package-even .package-right{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.package-even .package-right p, .package-even .package-right ul li{
  font-family: sans-serif;
  font-size: 1.2rem;
}

.package-even .package-left img{
  max-height: 360px;
}

.package-even .package-price{
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Satisfy', cursive;
    padding: 0 20px;
    color: white;
}

.package-even ul li, .package-odd ul li{
  list-style: none;
  line-height: 1.6rem;
}

.packages{
  width: 80%;
  margin: 80px;
}


.exclusions p{
  margin: 40px 0;
}


.exclusions{
  width: 80%;
  margin: auto;
}



/* Accommodation */

.accom-container{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(44, 44, 44, 0.938);
  
}

.accommodation-content{
  
  text-align: center;
  font-weight: 300;
  width: 80%;
  

}

.accommodation-content h4{
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Satisfy', cursive;
  margin: 20px 0;
  color: white;
}

.accommodation-content p{
  color: white;
}


.accommodation-content p{
  line-height: 1.6rem;
}


.accommodation-gallery{
  width: 90%;
  margin: 0;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6px;
}

.accommodation-gallery img{
  max-width: 100%;
}


/* Species List */

.species-container{
  width: 60%;
  background-color: rgba(44, 44, 44, 0.938);
  color: white;
}

.species-content{
  width: 70%;
  margin: auto;
}

.species-container h4{
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Satisfy', cursive;
  margin: 20px 0;
  color: white;
  text-align: center;
}


/* Contact */

.contact-container{
  width: 60%;
  height: auto;
  margin: auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(44, 44, 44, 0.938);
}

.contact-box{
  width: 70%;
}

.contact-box h4{
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Satisfy', cursive;
  margin: 20px 0;
  color: white;
  text-align: center;
}

.contact-box h5{
  font-weight: 400;
  font-size: 1.6rem;
  font-family: sans-serif;
  margin: 20px 0;
  color: white;
  
}

.contact-box a{
  font-size: 5rem;
  margin-right: 40px;
}

.contact-box p{
  color: white;
}


footer{
  background-color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 40px 60px;
  margin: 20px 0 0 0;
}

footer a{
  font-size: 2rem;
}



.footer-middle{
  flex: 1;
}

.footer-right{
  flex: 1;
}

.footer h5{
  font-size: 1rem;
}
/* ------------------------- Media Queries ---------------------------- */


@media only screen and (max-width: 1280px) {

  .logo img{
    max-width: 240px;
  }

  body{
    background-image: linear-gradient(to top right,rgba(132,215,167,0.7),rgba(255,238,134,0.7),rgba(255,148,146,0.7)), url('public/images/fusion_logo.colour-removebg-reduced-wide.png'); ;
    background-size: cover;
  }

  .container{
    width: 90%;
  }


  .splash{
    color: black;
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
    height: 90vh;
    padding: 40px 0;
  }

  .splash-left{
    display: none;
    
  }



  .splash-right{
    flex:2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }



  .splash-right-content{
    width: 90%;
  }

  .splash-right-content h2{
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  .splash-right-content p{
    font-size: 1.1rem;
  }

  .splash-right button{
    width: 100px;
    height: 50px;
    margin: 20px;

    
  }

  .splash-right-buttons{
    display: flex;
    flex-direction: column;
  }

  #simplify{
    display: none;
  }


  .about-container{
    width: 90%;
  }

  .about-content{
    width: 90%;
  }

  .accom-container{
    width: 90%;
  }
  
  .accommodation-gallery {
    grid-template-columns: 1fr
  }

  .packages-container{
    width: 90%;
  }

  .package-odd{
    flex-direction: column;
  }

  .package-even{
    flex-direction: column-reverse;
  }

  .package-odd img, .package-even img{
    max-width: 300px;
    margin-top: 60px;
  }

  .species-container{
    width: 90%;
  }

  .contact-container{
    height: auto;
    width: 90%;
  }

  .contact-box{
    width: 90%;
  }
  
  .contact-box h4{
    font-weight: 600;
    font-size: 1.6rem;
    font-family: 'Satisfy', cursive;
    margin: 10px 0;
    color: white;
    text-align: center;
  }
  
  .contact-box h5{
    font-weight: 400;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 20px 0;
    color: white;
    
  }

  .contact-box a{
    font-size: 3rem;
  }

  footer{
    flex-direction: column;
    text-align: center;
    display: flex;
  }
}
  